In [738]:
# importing libraries
from dbfread import DBF
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

In [739]:
# Read muster data from DBF file
muster_table = DBF('D:/ZIONtest/muster.dbf', load=True)
muster_df = pd.DataFrame(iter(muster_table))
print(muster_df.head())

  EMPCODE COMCODE UNCODE EMP_CO_COD    EMP_CU_COD                        NAME  \
0  ZI0001     001    001  001ZI0001  001001ZI0001           MUKESH N KESERKER
1  ZI0002     001    001  001ZI0002  001001ZI0002                  SARAVANA C
2  ZI0003     001    001  001ZI0003  001001ZI0003  K E LAKSHMINARAYANA SHETTY
3  ZI0004     001    001  001ZI0004  001001ZI0004            NAGABHUSHANA K G
4  ZI0006     001    001  001ZI0006  001001ZI0006                      RAJU L

  EMP_DEPT  TOKEN     DEPT_NAME DAY1  ... WO_24  WO_25  WO_26  WO_27  WO_28  \
0      001      1           AMT   AB  ...  True  False  False  False  False
1      001      2           AMT       ...  True  False  False  False  False
2      001      3           AMT   PR  ...  True  False  False  False  False
3      001      4           AMT   AB  ...  True  False  False  False  False
4      002      6  FRONT OFFICE   AB  ...  True  False  False  False  False

   WO_29  WO_30  WO_31 DAY0  ASCHD
0  False  False  False   AB  False
1  False  False  False   PR  False
2  False  False  False   PR  False
3  False  False  False   AB  False
4  False  False  False   AB  False

[5 rows x 229 columns]

In [740]:
dated_table = DBF('D:/ZIONtest/dated.dbf', load=True)
dated_df = pd.DataFrame(iter(dated_table))
print(dated_df.head())

      CUR_DAY  NO_DAY  SUN_DAY   DAY1   DAY2  DAY3   DAY4   DAY5   DAY6  \
0  2023-09-18      30        4  False  False  True  False  False  False

    DAY7  ...  NDAY22  NDAY23  NDAY24  NDAY25  NDAY26  NDAY27  NDAY28  NDAY29  \
0  False  ...      22      23      24      25      26      27      28      29

   NDAY30  NDAY31
0      30      31

[1 rows x 67 columns]

In [741]:
start_date = dated_df['MUFRDATE']
end_date = dated_df['MUTODATE']

start_date = pd.to_datetime(start_date)
end_date = pd.to_datetime(end_date)

print(start_date)
print(end_date)

0   2023-09-01
Name: MUFRDATE, dtype: datetime64[ns]
0   2023-09-30
Name: MUTODATE, dtype: datetime64[ns]

In [742]:

muster_df['DEL'] = muster_df['DEL'].astype(bool)
muster_df

,EMPCODE,COMCODE,UNCODE,EMP_CO_COD,EMP_CU_COD,NAME,EMP_DEPT,TOKEN,DEPT_NAME,DAY1,...,WO_24,WO_25,WO_26,WO_27,WO_28,WO_29,WO_30,WO_31,DAY0,ASCHD
0,ZI0001,001,001,001ZI0001,001001ZI0001,MUKESH N KESERKER,001,1,AMT,AB,...,True,False,False,False,False,False,False,False,AB,False
1,ZI0002,001,001,001ZI0002,001001ZI0002,SARAVANA C,001,2,AMT,,...,True,False,False,False,False,False,False,False,PR,False
2,ZI0003,001,001,001ZI0003,001001ZI0003,K E LAKSHMINARAYANA SHETTY,001,3,AMT,PR,...,True,False,False,False,False,False,False,False,PR,False
3,ZI0004,001,001,001ZI0004,001001ZI0004,NAGABHUSHANA K G,001,4,AMT,AB,...,True,False,False,False,False,False,False,False,AB,False
4,ZI0006,001,001,001ZI0006,001001ZI0006,RAJU L,002,6,FRONT OFFICE,AB,...,True,False,False,False,False,False,False,False,AB,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231,ZI0713,002,002,002ZI0713,002002ZI0713,UPAR JOY REANG,006,713,HOUSE KEEPING,PR,...,True,False,False,False,False,False,False,False,AB,False
232,ZI0714,002,002,002ZI0714,002002ZI0714,SAHIL ALI,002,714,FRONT OFFICE,PR,...,True,False,False,False,False,False,False,False,PR,False
233,ZI0715,002,002,002ZI0715,002002ZI0715,TAPOSH SARKAR,006,715,HOUSE KEEPING,PR,...,True,False,False,False,False,False,False,False,PR,False
234,ZI0716,002,002,002ZI0716,002002ZI0716,GULAM SAMDANI,004,716,F&B PRODUCTION,PR,...,True,False,False,False,False,False,False,False,PR,False
235,ZI0073,001,001,001ZI0073,001001ZI0073,SOWJANYA G T,002,73,FRONT OFFICE,A2,...,True,False,False,False,False,False,False,None,,None

In [743]:
muster_only_false = muster_df[muster_df['DEL'] == False]

In [744]:
muster_df['DATE_LEAVE'] = pd.to_datetime(muster_df['DATE_LEAVE'])

mask = (muster_df['DATE_LEAVE'] >= start_date.min()) & (muster_df['DATE_LEAVE'] <= end_date.max()) 
filtered_muster_df = muster_df.loc[mask]
filtered_muster_df

,EMPCODE,COMCODE,UNCODE,EMP_CO_COD,EMP_CU_COD,NAME,EMP_DEPT,TOKEN,DEPT_NAME,DAY1,...,WO_24,WO_25,WO_26,WO_27,WO_28,WO_29,WO_30,WO_31,DAY0,ASCHD
1,ZI0002,001,001,001ZI0002,001001ZI0002,SARAVANA C,001,2,AMT,,...,True,False,False,False,False,False,False,False,PR,False
5,ZI0007,001,001,001ZI0007,001001ZI0007,PRAKASH P,002,7,FRONT OFFICE,,...,True,False,False,False,False,False,False,False,MM,False
9,ZI0011,001,001,001ZI0011,001001ZI0011,RAVI KIRANA B,003,11,F&B SERVICE,A2,...,True,False,False,False,False,False,False,False,PR,False

In [745]:
muster_df1 = pd.concat([filtered_muster_df,muster_only_false],ignore_index=True)
muster_df1 = muster_df1[['TOKEN', 'COMCODE', 'NAME', 'EMPCODE', 
                         'EMP_DEPT','DEPT_NAME', 'EMP_DESI',
                         'DESI_NAME']]
muster_df1 = muster_df1.sort_values(by=['EMPCODE'])
muster_df1

,TOKEN,COMCODE,NAME,EMPCODE,EMP_DEPT,DEPT_NAME,EMP_DESI,DESI_NAME
214,697,002,MUSTHAK ALI UBEDULLA,Z/0697,007,SECURITY,,
3,1,001,MUKESH N KESERKER,ZI0001,001,AMT,028,GENERAL MANAGER
0,2,001,SARAVANA C,ZI0002,001,AMT,064,ACCOUNTS & STORES EXECUTIVE
4,3,001,K E LAKSHMINARAYANA SHETTY,ZI0003,001,AMT,065,PURCHASE & STORES EXECUTIVE
5,4,001,NAGABHUSHANA K G,ZI0004,001,AMT,070,FINANCE MANAGER
...,...,...,...,...,...,...,...,...
231,714,002,SAHIL ALI,ZI0714,002,FRONT OFFICE,,
232,715,002,TAPOSH SARKAR,ZI0715,006,HOUSE KEEPING,,
233,716,002,GULAM SAMDANI,ZI0716,004,F&B PRODUCTION,,
217,700,002,JOSHEP BAHADUR,ZIO700,003,F&B SERVICE,,
218,701,002,SHIV KUMAR THAPA,ZIO701,003,F&B SERVICE,,

In [746]:
holmast_table = DBF('D:/ZIONtest/holmast.dbf', load=True)
holmast_df = pd.DataFrame(iter(holmast_table))
print(holmast_df)

       HOL_DT          HOL_DESC HOL_TYPE HTYPE_DESC HOL_COMPDT
0  2023-09-10            STRIKE       PH                  None
1  2023-08-08  GANESHA FESTIVAL       PH                  None
2  2023-09-20         DEEPAVALI       PH                  None

In [747]:
holmast_df['HOL_DT'] = pd.to_datetime(holmast_df['HOL_DT'])
mask = (holmast_df['HOL_DT'] >= start_date.min()) & (holmast_df['HOL_DT'] <= end_date.max())
holmast_filtered_df = holmast_df.loc[mask]
print(holmast_filtered_df)

      HOL_DT   HOL_DESC HOL_TYPE HTYPE_DESC HOL_COMPDT
0 2023-09-10     STRIKE       PH                  None
2 2023-09-20  DEEPAVALI       PH                  None

In [748]:
hol_dt = holmast_filtered_df['HOL_DT']
hol_desc = holmast_filtered_df['HOL_DESC']
hol_type = holmast_filtered_df['HOL_TYPE']

In [749]:
lv_form_table = DBF('D:/ZIONtest/lvform.dbf', load=True)
lv_form_df = pd.DataFrame(iter(lv_form_table))
print(lv_form_df)

   APPLNO EMPCODE COMCODE       LV_ST       LV_ED   FN_Y LV_TYPE  TOT_DAY  \
0   00001  ZI0002     001  2023-09-11  2018-05-11   True      CO      1.0
1   00002  ZI0007     001  2023-09-13  2018-05-11  False      CO      1.0
2   00003  ZI0002     001  2023-09-14  2018-05-15   True      CO      2.0
3   00004    1726     001  2018-06-14  2018-06-14  False      CO      1.0
4   00001    1042     001  2018-06-02  2018-06-02  False      EL      1.0
5   00002    1042     001  2018-06-02  2018-06-02  False      EL      1.0
6   00001    1312     001  2018-06-19  2018-06-20  False      EL     35.0
7   00002    1312     001  2018-06-15  2018-06-15  False      EL     33.0
8   00003    1312     001  2018-06-28  2018-06-29  False      EL     35.0
9   00001    1295     001  2018-06-27  2018-06-27  False      EL     37.0
10  00001    1590     001  2018-06-11  2018-06-13  False      CO     43.0
11  00001    1561     001  2018-06-04  2018-06-04   True      EL      6.0
12  00002    1561     001  2018-06-06  2018-06-06   True      EL      6.0
13  00003    1561     001  2018-06-18  2018-06-19  False      CO      6.0
14  00004    1561     001  2018-06-28  2018-06-28  False      EL      5.0
15  00001    1677     001  2018-06-20  2018-06-20  False      EL     12.0
16  00002    1295     001  2018-06-23  2018-06-23  False      EL     37.0
17  00001    1440     001  2018-06-16  2018-06-16  False      EL     24.0
18  00001    1767     001  2018-06-13  2018-06-16  False      CO      4.0
19  00001    1638     001  2018-06-27  2018-06-27  False      CO     18.0
20  00001    1318     001  2018-06-18  2018-06-20  False      EL     30.0
21  00001    1285     001  2018-06-16  2018-06-19  False      EL     30.0
22  00002    1285     001  2018-06-08  2018-06-09  False      EL     28.0
23  00001    1709     001  2018-06-23  2018-06-23  False      EL      1.0
24  00003    1042     001  2018-06-21  2018-06-21  False      EL     27.0

    REMARKS LVDEL LVCODE    EMPAPPL
0   APROVED  None   None  172600001
1   APROVED  None   None  172600002
2   APROVED  None   None  172600003
3            None   None  172600004
4            None   None  104200001
5            None   None  104200002
6        OK  None   None  131200001
7        OK  None   None  131200002
8        OK  None   None  131200003
9        OK  None   None  129500001
10       OK  None   None  159000001
11       OK  None   None  156100001
12       OK  None   None  156100002
13       OK  None   None  156100003
14           None   None  156100004
15       OK  None   None  167700001
16       OK  None   None  129500002
17       OK  None   None  144000001
18       OK  None   None  176700001
19       OK  None   None  163800001
20       OK  None   None  131800001
21       OK  None   None  128500001
22       OK  None   None  128500002
23       OK  None   None  170900001
24       OK  None   None  104200003

In [750]:
lv_form_df['LV_ST'] = pd.to_datetime(lv_form_df['LV_ST'])
mask = (lv_form_df['LV_ST'] >= start_date.min()) & (lv_form_df['LV_ST'] <= end_date.max())
lv_form_filtered_df = lv_form_df.loc[mask]
print(lv_form_filtered_df)

  APPLNO EMPCODE COMCODE      LV_ST       LV_ED   FN_Y LV_TYPE  TOT_DAY  \
0  00001  ZI0002     001 2023-09-11  2018-05-11   True      CO      1.0
1  00002  ZI0007     001 2023-09-13  2018-05-11  False      CO      1.0
2  00003  ZI0002     001 2023-09-14  2018-05-15   True      CO      2.0

   REMARKS LVDEL LVCODE    EMPAPPL
0  APROVED  None   None  172600001
1  APROVED  None   None  172600002
2  APROVED  None   None  172600003

In [751]:
leave_empcode = lv_form_filtered_df['EMPCODE']
leave_start = lv_form_filtered_df['LV_ST']
leave_type = lv_form_filtered_df['LV_TYPE']
leave_fny = lv_form_filtered_df['FN_Y']
leave_comcode = lv_form_filtered_df['COMCODE']

In [752]:
punches_table = DBF('D:/ZIONtest/punches.dbf', load=True)
punches_df = pd.DataFrame(iter(punches_table))
print(punches_df)

      TOKEN COMCODE       PDATE  HOURS  MINUTES  MODE                  PDTIME  \
0       579     002  2023-09-01      5        2     0 2023-09-01 05:02:00.000
1        78     002  2023-09-01      5        2     0 2023-09-01 05:02:00.000
2        67     002  2023-09-01      6       28     0 2023-09-01 06:27:59.999
3       659     002  2023-09-01      6       28     0 2023-09-01 06:27:59.999
4       660     002  2023-09-01      6       30     0 2023-09-01 06:30:00.000
...     ...     ...         ...    ...      ...   ...                     ...
4310    698     002  2023-09-19     13       50     1 2023-09-19 13:50:00.000
4311    687     002  2023-09-19     13       52     1 2023-09-19 13:52:00.000
4312    116     002  2023-09-19     14       39     1 2023-09-19 14:38:59.999
4313      7     001  2023-09-03      8       30     0 2023-09-03 08:29:59.999
4314      7     001  2023-09-03     16       30     1 2023-09-03 16:30:00.000

            MCIP
0     10.10.0.80
1     10.10.0.80
2     10.10.0.80
3     10.10.0.80
4     10.10.0.80
...          ...
4310  10.10.0.81
4311  10.10.0.81
4312  10.10.0.81
4313
4314

[4315 rows x 8 columns]

In [753]:
punches_token = punches_df['TOKEN']
punches_comcode = punches_df['COMCODE']
punches_pdtime = punches_df['PDTIME']
punches_pdate = punches_df['PDATE']
punches_mode = punches_df['MODE']

In [754]:
punches_pdate

0       2023-09-01
1       2023-09-01
2       2023-09-01
3       2023-09-01
4       2023-09-01
           ...
4310    2023-09-19
4311    2023-09-19
4312    2023-09-19
4313    2023-09-03
4314    2023-09-03
Name: PDATE, Length: 4315, dtype: object

In [755]:
punches_df = punches_df.sort_values(by=['TOKEN', 'PDATE', 'MODE'])

In [756]:
punches_df.to_csv('sample.csv', index=False)

In [757]:
# Initialize variables for in and out punch times
in_punch_time = None
out_punch_time = None

# Filter the punches_df based on the date range
filtered_df = punches_df[
    punches_df['PDTIME'].between(start_date.iloc[0], end_date.iloc[0])
]

# Initialize the punches_df1
punches_df1 = pd.DataFrame(columns=['PDATE', 'TOKEN', 'IN_TIME', 'OUT_TIME', 'TOTAL_TIME', 'STATUS'])

# Iterate over each unique TOKEN
for token in filtered_df['TOKEN'].unique():
    # Filter data for the current TOKEN
    token_data = filtered_df[filtered_df['TOKEN'] == token]

    # Iterate over each row in the filtered DataFrame for the current TOKEN
    for index, row in token_data.iterrows():
        if row['MODE'] == 0:
            in_punch_time = row['PDTIME']
        elif row['MODE'] == 1:
            out_punch_time = row['PDTIME']
            if in_punch_time is not None:
                time_difference = out_punch_time - in_punch_time
                if time_difference.total_seconds() > 0:
                    hours, remainder = divmod(time_difference.seconds, 3600)
                    minutes, seconds = divmod(remainder, 60)

                    # Extract date from in_punch_time
                    punch_date = pd.to_datetime(in_punch_time, format='%d-%b-%y %H:%M:%S').strftime('%Y-%m-%d')

                    # Concatenate the punch data to the result DataFrame
                    punches_df1 = pd.concat([punches_df1, pd.DataFrame({
                        'PDATE': [punch_date],
                        'TOKEN': [token],
                        'IN_TIME': [in_punch_time.strftime('%Y-%m-%d %H:%M:%S')],
                        'OUT_TIME': [out_punch_time.strftime('%Y-%m-%d %H:%M:%S')],
                        'TOTAL_TIME': [f'{hours:02}:{minutes:02}:{seconds:02}']
                    })], ignore_index=True)

# Add missing dates within the range for each TOKEN
date_range = pd.date_range(start=start_date.iloc[0], end=end_date.iloc[0])

for token in filtered_df['TOKEN'].unique():
    # Filter data for the current TOKEN
    token_data = punches_df1[punches_df1['TOKEN'] == token]

    missing_dates = date_range[~date_range.isin(token_data['PDATE'])]

    for missing_date in missing_dates:
        punches_df1 = pd.concat([punches_df1, pd.DataFrame({
            'PDATE': [missing_date.strftime('%Y-%m-%d')],
            'TOKEN': [token],
            'IN_TIME': [np.nan],
            'OUT_TIME': [np.nan],
            'TOTAL_TIME': [np.nan]
        })], ignore_index=True)

# Sort the punches_df1 by 'TOKEN' and 'PDATE'
punches_df1 = punches_df1.sort_values(by=['TOKEN', 'PDATE'])

punches_df1.to_csv('generated.csv', index=False)

In [758]:
final_merged_df = pd.merge(muster_df1, punches_df1, on='TOKEN', how='left')
final_merged_df = final_merged_df.sort_values(by=['EMPCODE', 'TOKEN', 'PDATE'])
final_merged_df.to_csv('final_merged1.csv', index=False)

In [761]:
from dbfread import DBF
import pandas as pd
import numpy as np

muster_table = DBF('D:/ZIONtest/muster.dbf', load=True)
muster_df = pd.DataFrame(iter(muster_table))

dated_table = DBF('D:/ZIONtest/dated.dbf', load=True)
dated_df = pd.DataFrame(iter(dated_table))

start_date = dated_df['MUFRDATE']
end_date = dated_df['MUTODATE']

start_date = pd.to_datetime(start_date)
end_date = pd.to_datetime(end_date)

muster_df['DEL'] = muster_df['DEL'].astype(bool)
muster_only_false = muster_df[muster_df['DEL'] == False]

muster_df['DATE_LEAVE'] = pd.to_datetime(muster_df['DATE_LEAVE'])

mask = (muster_df['DATE_LEAVE'] >= start_date.min()) & (muster_df['DATE_LEAVE'] <= end_date.max()) 
filtered_muster_df = muster_df.loc[mask]

muster_df1 = pd.concat([filtered_muster_df,muster_only_false],ignore_index=True)
muster_df1 = muster_df1[['TOKEN', 'COMCODE', 'NAME', 'EMPCODE', 
                         'EMP_DEPT','DEPT_NAME', 'EMP_DESI',
                         'DESI_NAME']]
muster_df1 = muster_df1.sort_values(by=['EMPCODE'])

punches_table = DBF('D:/ZIONtest/punches.dbf', load=True)
punches_df = pd.DataFrame(iter(punches_table))
punches_df = punches_df.sort_values(by=['TOKEN', 'PDATE', 'MODE'])

in_punch_time = None
out_punch_time = None

# Filter the punches_df based on the date range
filtered_df = punches_df[
    punches_df['PDTIME'].between(start_date.iloc[0], end_date.iloc[0])
]

In [762]:
# Initialize the punches_df1
punches_df1 = pd.DataFrame(columns=['PDATE', 'TOKEN', 'IN_TIME', 'OUT_TIME', 'TOTAL_TIME', 'STATUS'])

# # Iterate over each unique TOKEN
# for token in filtered_df['TOKEN'].unique():
#     # Filter data for the current TOKEN
#     token_data = filtered_df[filtered_df['TOKEN'] == token]

    # Iterate over each row in the filtered DataFrame for the current TOKEN
for index, row in filtered_df.iterrows():
    if row['MODE'] == 0:
        in_punch_time = row['PDTIME']
    elif row['MODE'] == 1:
        out_punch_time = row['PDTIME']
        if in_punch_time is not None:
            time_difference = out_punch_time - in_punch_time
            if time_difference.total_seconds() > 0:
                hours, remainder = divmod(time_difference.seconds, 3600)
                minutes, seconds = divmod(remainder, 60)

                # Extract date from in_punch_time
                punch_date = pd.to_datetime(in_punch_time, format='%d-%b-%y %H:%M:%S').strftime('%Y-%m-%d')

                # Concatenate the punch data to the result DataFrame
                punches_df1 = pd.concat([punches_df1, pd.DataFrame({
                    'PDATE': [punch_date],
                    'TOKEN': [token],
                    'IN_TIME': [in_punch_time.strftime('%Y-%m-%d %H:%M:%S')],
                    'OUT_TIME': [out_punch_time.strftime('%Y-%m-%d %H:%M:%S')],
                    'TOTAL_TIME': [f'{hours:02}:{minutes:02}:{seconds:02}']
                })], ignore_index=True)

punches_df.to_csv('5thJan_puches.csv')

In [768]:
from dbfread import DBF
import pandas as pd
import numpy as np

# Load dated_table
dated_table = DBF('D:/ZIONtest/dated.dbf', load=True)
start_date = dated_table.records[0]['MUFRDATE']
end_date = dated_table.records[0]['MUTODATE']

# Load holmast_table
holmast_table = DBF('D:/ZIONtest/holmast.dbf', load=True)

# Filter rows based on date range

# Load punches_table
punches_table = DBF('D:/ZIONtest/punches.dbf', load=True)

# Load muster_table
muster_table = DBF('D:/ZIONtest/muster.dbf', load=True)

# Extract columns from muster_table
must_token = [record['TOKEN'] for record in muster_table]
name = [record['NAME'] for record in muster_table]
employee_code = [record['EMPCODE'] for record in muster_table]
date_join = [record['DATE_JOIN'] for record in muster_table]
date_leave = [record['DATE_LEAVE'] for record in muster_table]

must_token_array = np.array(must_token)
date_leave_array = np.array(date_leave)
date_join_array = np.array(date_join)
print("Must token array: ", must_token_array)
print("Date leave array: ",date_leave_array)
print("Date join array: ", date_join_array)
mask_not_none = date_leave_array != None
indices = np.where(mask_not_none)[0]

print("leave array true indices: ", indices)
filtered_dates_leave = date_leave_array[mask_not_none]
mask_date_range = (filtered_dates_leave >= start_date) & (filtered_dates_leave <= end_date)
filtered_lv_dates_in_range = filtered_dates_leave[mask_date_range]
print("Filtered leaves dates range: ",filtered_lv_dates_in_range)

mask_not_none = date_join_array != None
indices = np.where(mask_not_none)[0]

print("join array true indices: ", indices)
filtered_dates_join = date_join_array[mask_not_none]
mask_date_range = (filtered_dates_join >= start_date) & (filtered_dates_join <= end_date)
filtered_join_dates_in_range = filtered_dates_join[mask_date_range]
print("Filtered join dates range: ",filtered_join_dates_in_range)

# Extract columns from punches_table
token = [record['TOKEN'] for record in punches_table]
pdtime = [record['PDTIME'] for record in punches_table]
mode = [record['MODE'] for record in punches_table]

# Create DataFrames for muster_table and punches_table
muster_df = pd.DataFrame({'token': must_token, 'name': name, 'employee_code': employee_code})
punches_df = pd.DataFrame({'token': token, 'pdtime': pdtime, 'mode': mode})

# Merge punches_df with muster_df to get corresponding names and employee codes
merged_df = pd.merge(punches_df, muster_df, on='token', how='left')

# Convert 'pdtime' to datetime
merged_df['pdtime'] = pd.to_datetime(merged_df['pdtime'], format='%d-%b-%y %H:%M:%S')

# Sort DataFrame by 'token', 'pdtime', and 'mode'
merged_df.sort_values(by=['token', 'pdtime', 'mode'], inplace=True)

# Create a new dataframe to store the calculated times
result_df = pd.DataFrame(columns=['employee_code', 'token', 'name', 'date', 'in time', 'out time', 'total time', 'status'])

# Initialize variables to store in/out punch times
in_punch_time = None
out_punch_time = None

# Iterate over the rows and calculate time
for index, row in merged_df.iterrows():
    if row['mode'] == 0:
        in_punch_time = row['pdtime']
    elif row['mode'] == 1:
        out_punch_time = row['pdtime']
        if in_punch_time is not None:
            time_difference = out_punch_time - in_punch_time
            # Exclude rows where time difference is "0 days"
            if time_difference.total_seconds() > 0:
                hours, remainder = divmod(time_difference.seconds, 3600)
                minutes, seconds = divmod(remainder, 60)
                result_df = pd.concat([result_df, pd.DataFrame({
                    'token': [row['token']],
                    'in time': [in_punch_time.strftime('%d-%b-%y %H:%M:%S')],
                    'out time': [out_punch_time.strftime('%d-%b-%y %H:%M:%S')],
                    'total time': [f'{hours:02}:{minutes:02}:{seconds:02}'],
                    'date': [pd.to_datetime(in_punch_time, format='%d-%b-%y %H:%M:%S').strftime('%d-%b-%y')],
                    'status': ['PR'],  # Set status to 1 if 'in time' is present
                    'name': [row['name']],
                    'employee_code': [row['employee_code']]
                })], ignore_index=True)

# Create a dataframe for all absent days (1 to 30) for each token
all_days = pd.DataFrame(columns=['token', 'in time', 'out time', 'total time', 'date', 'status', 'name', 'employee_code'])

for token in result_df['token'].unique():
    existing_dates = set(result_df[(result_df['token'] == token) & (result_df['in time'] != '')]['date'])
    for day in range(1, 31):
        date_str = f"{day:02}-Sep-23"
        if date_str not in existing_dates:
            # Check if it's a Sunday
            is_sunday = pd.to_datetime(date_str, format='%d-%b-%y').dayofweek == 6
            status = 'wo' if is_sunday else 'AB'
            
            all_days = pd.concat([all_days, pd.DataFrame({
                'token': [token],
                'in time': [''],
                'out time': [''],
                'total time': [''],
                'date': [pd.to_datetime(date_str, format='%d-%b-%y').strftime('%d-%b-%y')],
                'status': [status],  # Set status to 'wo' for Sundays, 'AB' for other absent dates
                'name': [result_df[result_df['token'] == token]['name'].values[0]],
                'employee_code': [result_df[result_df['token'] == token]['employee_code'].values[0]]
            })], ignore_index=True)

# Concatenate result_df and all_days
result_df = pd.concat([result_df, all_days], ignore_index=True)

# Sort the DataFrame by 'token', 'date'
result_df = result_df.sort_values(by=['token', 'date'])

# Save result_df to a CSV file
result_df.to_csv('./5thJan_punches.csv', index=False)

Must token array:  [  1   2   3   4   6   7   8   9  10  11  12  14  15  16  20  22  23  27
  28  29  31  33  36  37  38  39  44  47  50  51  52  53  54  55  57  58
  62  65  66  67  68  71  78 501 504 509 511  83  84  85  88  92  93  95
 102 103 104 106 112 523 116 117 118 123 124 127 531 128 532 533 535 129
 130 538 539 540 137 543 544 549 550 551 553 542 555 556 559 560 563 566
 567 568 570 571 573 574 575 576 577 578 579 583 584 585 586 588 589 518
 591 593 594 595 596 597 598 599 600 601 602 603 604 605 606 607 608 609
 610 611 612 613 113 614 615 616 617 618  63 619 620 621 622 623 624 625
 626 627 628 629 630 631 632 633 634 635 636 637 638 639 640 641 642 643
 644 645 646 647 648 649 650 651 652 653 654 655 656 657 658 659 660 661
 662 663 664 665 666 667 668 669 670 671 672 673 674 675 676 677 678 679
 680 681 682 683 684 685 686 687 688 689 690 691 692 693 694 695 696 697
 698 699 700 701 702 703 704 705 706 707 708 709 710 711 712 713 714 715
 716  73]
Date leave array:  [None datetime.date(2023, 9, 19) None None None datetime.date(2023, 9, 25)
 None None None datetime.date(2023, 9, 28) None None None None None None
 None None None None None None None None None None None None None None
 None None None None None None None None None None None None None None
 None None None None None None None None datetime.date(2022, 5, 17) None
 None None None None None None None None None None None None None None
 None None None None None None None None None None None None None None
 None None None None None None None None None None None None None None
 None None None None None None None None None None None None None None
 None None None None None None None None None None None None None None
 None None None None None None None None None None None None None None
 None None None None None None None None None None None None None None
 None None None None None None None None None None None None None None
 None None None None None None None None None None None None None None
 None None None None None None None None None None None None None None
 None None None None None None None None None None None None None None
 None None None None None None None None None None None None None None
 None None None None None None None None None None None None None None]
Date join array:  [datetime.date(2021, 3, 1) datetime.date(2023, 9, 6)
 datetime.date(2022, 3, 1) datetime.date(2022, 3, 1)
 datetime.date(2022, 3, 1) datetime.date(2023, 9, 3)
 datetime.date(2022, 3, 1) datetime.date(2022, 3, 1)
 datetime.date(2022, 3, 1) datetime.date(2022, 3, 1)
 datetime.date(2022, 3, 1) datetime.date(2022, 3, 1)
 datetime.date(2022, 3, 1) datetime.date(2022, 3, 1)
 datetime.date(2022, 3, 1) datetime.date(2022, 3, 1)
 datetime.date(2022, 3, 1) datetime.date(2022, 3, 1)
 datetime.date(2022, 3, 1) datetime.date(2022, 3, 1)
 datetime.date(2022, 3, 1) datetime.date(2022, 3, 1)
 datetime.date(2022, 3, 1) datetime.date(2022, 3, 1)
 datetime.date(2022, 3, 1) datetime.date(2022, 3, 1)
 datetime.date(2022, 3, 1) datetime.date(2022, 3, 1)
 datetime.date(2022, 3, 1) datetime.date(2022, 3, 1)
 datetime.date(2022, 3, 1) datetime.date(2022, 3, 1)
 datetime.date(2022, 3, 1) datetime.date(2022, 3, 1)
 datetime.date(2022, 3, 1) datetime.date(2022, 3, 1)
 datetime.date(2022, 3, 1) datetime.date(2022, 3, 1)
 datetime.date(2022, 3, 1) datetime.date(2022, 3, 1)
 datetime.date(2022, 3, 1) datetime.date(2022, 3, 2)
 datetime.date(2022, 3, 10) datetime.date(2022, 1, 14)
 datetime.date(1962, 6, 5) datetime.date(2021, 12, 17)
 datetime.date(2022, 2, 2) datetime.date(2022, 3, 20)
 datetime.date(2022, 3, 24) datetime.date(2022, 3, 17)
 datetime.date(2022, 3, 19) datetime.date(2022, 4, 2)
 datetime.date(2022, 4, 5) datetime.date(2022, 4, 6)
 datetime.date(2022, 4, 13) datetime.date(2022, 4, 16)
 datetime.date(2022, 4, 16) datetime.date(2022, 4, 29)
 datetime.date(2022, 5, 5) datetime.date(2022, 5, 11)
 datetime.date(2022, 5, 5) datetime.date(2022, 5, 7)
 datetime.date(2022, 5, 13) datetime.date(2022, 4, 15)
 datetime.date(2022, 5, 18) datetime.date(2022, 5, 18)
 datetime.date(2022, 5, 23) datetime.date(2022, 5, 26)
 datetime.date(2022, 5, 26) datetime.date(2022, 5, 25)
 datetime.date(2022, 6, 1) datetime.date(2022, 6, 3)
 datetime.date(2022, 6, 6) datetime.date(2022, 1, 1) None None None
 datetime.date(2022, 6, 24) datetime.date(2022, 6, 24)
 datetime.date(2022, 7, 5) datetime.date(2022, 7, 4)
 datetime.date(2022, 7, 12) datetime.date(2022, 7, 19)
 datetime.date(2022, 6, 27) datetime.date(2022, 7, 23)
 datetime.date(2022, 7, 26) datetime.date(2022, 1, 1)
 datetime.date(2022, 1, 1) datetime.date(2022, 1, 1)
 datetime.date(2023, 1, 14) datetime.date(2022, 8, 4)
 datetime.date(2022, 8, 8) datetime.date(2022, 8, 15)
 datetime.date(2022, 8, 17) datetime.date(2022, 8, 22)
 datetime.date(2022, 8, 25) datetime.date(2022, 8, 26)
 datetime.date(2022, 8, 27) datetime.date(2022, 8, 30)
 datetime.date(2022, 8, 30) datetime.date(2022, 9, 2)
 datetime.date(2022, 9, 12) None datetime.date(2022, 9, 16)
 datetime.date(2022, 9, 21) datetime.date(2022, 9, 22)
 datetime.date(2022, 9, 22) datetime.date(2022, 4, 16)
 datetime.date(2022, 10, 13) datetime.date(2023, 1, 14)
 datetime.date(2022, 10, 16) datetime.date(2022, 10, 16)
 datetime.date(2023, 1, 14) datetime.date(2023, 1, 14)
 datetime.date(2022, 10, 17) datetime.date(2023, 5, 5)
 datetime.date(2022, 10, 21) datetime.date(2022, 10, 21)
 datetime.date(2023, 1, 16) datetime.date(2022, 11, 15)
 datetime.date(2022, 11, 16) datetime.date(2022, 11, 21)
 datetime.date(2022, 11, 23) datetime.date(2022, 11, 24)
 datetime.date(2022, 11, 24) datetime.date(2022, 11, 24)
 datetime.date(2022, 11, 24) datetime.date(2022, 11, 25)
 datetime.date(2022, 11, 25) datetime.date(2022, 11, 26)
 datetime.date(2022, 1, 1) datetime.date(2022, 12, 12)
 datetime.date(2022, 12, 18) datetime.date(2022, 12, 18)
 datetime.date(2022, 12, 18) datetime.date(2022, 12, 18)
 datetime.date(2023, 1, 16) datetime.date(2022, 7, 16)
 datetime.date(2023, 1, 3) datetime.date(2023, 1, 4)
 datetime.date(2023, 1, 4) datetime.date(2023, 1, 6)
 datetime.date(2023, 1, 6) datetime.date(2023, 1, 7)
 datetime.date(2023, 1, 9) datetime.date(2023, 1, 10)
 datetime.date(2023, 1, 16) datetime.date(2023, 1, 16)
 datetime.date(2023, 1, 18) datetime.date(2023, 1, 18)
 datetime.date(2023, 1, 18) datetime.date(2023, 1, 23)
 datetime.date(2023, 1, 26) datetime.date(2023, 1, 26)
 datetime.date(2023, 1, 26) datetime.date(2023, 2, 1)
 datetime.date(2023, 2, 1) datetime.date(2023, 2, 11)
 datetime.date(2023, 2, 22) datetime.date(2023, 2, 23)
 datetime.date(2023, 2, 23) datetime.date(2023, 2, 23)
 datetime.date(2023, 2, 23) datetime.date(2023, 2, 23)
 datetime.date(2023, 2, 24) datetime.date(2023, 3, 1)
 datetime.date(2023, 3, 2) datetime.date(2023, 3, 4)
 datetime.date(2023, 3, 11) datetime.date(2023, 3, 17)
 datetime.date(2023, 3, 17) datetime.date(2023, 3, 18)
 datetime.date(2023, 3, 18) datetime.date(2023, 3, 19)
 datetime.date(2023, 3, 19) datetime.date(2023, 3, 20)
 datetime.date(2023, 3, 21) datetime.date(2023, 3, 24)
 datetime.date(2023, 3, 26) datetime.date(2023, 3, 27)
 datetime.date(2023, 4, 1) datetime.date(2023, 4, 5)
 datetime.date(2023, 4, 6) datetime.date(2023, 4, 6)
 datetime.date(2023, 4, 8) datetime.date(2023, 4, 8)
 datetime.date(2023, 4, 8) datetime.date(2023, 4, 9)
 datetime.date(2023, 4, 11) datetime.date(2023, 4, 18)
 datetime.date(2023, 4, 18) datetime.date(2023, 4, 24)
 datetime.date(2023, 4, 22) datetime.date(2023, 4, 23)
 datetime.date(2023, 5, 2) datetime.date(2023, 5, 3)
 datetime.date(2023, 5, 3) datetime.date(2023, 5, 3)
 datetime.date(2023, 5, 17) datetime.date(2023, 5, 18)
 datetime.date(2023, 5, 18) datetime.date(2023, 5, 19)
 datetime.date(2023, 6, 1) datetime.date(2023, 6, 2)
 datetime.date(2023, 6, 5) datetime.date(2023, 6, 5)
 datetime.date(2023, 6, 6) datetime.date(2023, 6, 6)
 datetime.date(2023, 6, 10) datetime.date(2023, 6, 10)
 datetime.date(2023, 6, 13) datetime.date(2023, 6, 15)
 datetime.date(2023, 6, 15) datetime.date(2023, 6, 19)
 datetime.date(2023, 6, 19) datetime.date(2023, 6, 20)
 datetime.date(2023, 7, 1) datetime.date(2023, 7, 1)
 datetime.date(2023, 7, 5) datetime.date(2023, 7, 5)
 datetime.date(2023, 7, 10) datetime.date(2023, 7, 12)
 datetime.date(2023, 7, 19) datetime.date(2023, 7, 21)
 datetime.date(2023, 7, 23) datetime.date(2023, 7, 23)
 datetime.date(2023, 8, 7) datetime.date(2023, 8, 8)
 datetime.date(2023, 8, 12) datetime.date(2023, 8, 15)
 datetime.date(2023, 8, 15) datetime.date(2023, 8, 15)
 datetime.date(2023, 8, 16) datetime.date(2023, 8, 18)
 datetime.date(2023, 8, 21) datetime.date(2023, 4, 14)]
leave array true indices:  [ 1  5  9 52]
Filtered leaves dates range:  [datetime.date(2023, 9, 19) datetime.date(2023, 9, 25)
 datetime.date(2023, 9, 28)]
join array true indices:  [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  77  78  79  80  81  82  83  84  85  86  87  88  89  90  91  92
  93  94  95  96  97  98  99 100 101 103 104 105 106 107 108 109 110 111
 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129
 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147
 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165
 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183
 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200 201
 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219
 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235]
Filtered join dates range:  [datetime.date(2023, 9, 6) datetime.date(2023, 9, 3)]