In [89]:
# importing libraries
from dbfread import DBF
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

In [90]:
# Read muster data from DBF file
muster_table = DBF('D:/ZIONtest/muster.dbf', load=True)
muster_df = pd.DataFrame(iter(muster_table))
print(muster_df.head())

  EMPCODE COMCODE UNCODE EMP_CO_COD    EMP_CU_COD                        NAME  \
0  ZI0001     001    001  001ZI0001  001001ZI0001           MUKESH N KESERKER
1  ZI0002     001    001  001ZI0002  001001ZI0002                  SARAVANA C
2  ZI0003     001    001  001ZI0003  001001ZI0003  K E LAKSHMINARAYANA SHETTY
3  ZI0004     001    001  001ZI0004  001001ZI0004            NAGABHUSHANA K G
4  ZI0006     001    001  001ZI0006  001001ZI0006                      RAJU L

  EMP_DEPT  TOKEN     DEPT_NAME DAY1  ... WO_24  WO_25  WO_26  WO_27  WO_28  \
0      001      1           AMT   AB  ...  True  False  False  False  False
1      001      2           AMT       ...  True  False  False  False  False
2      001      3           AMT   PR  ...  True  False  False  False  False
3      001      4           AMT   AB  ...  True  False  False  False  False
4      002      6  FRONT OFFICE   AB  ...  True  False  False  False  False

   WO_29  WO_30  WO_31 DAY0  ASCHD
0  False  False  False   AB  False
1  False  False  False   PR  False
2  False  False  False   PR  False
3  False  False  False   AB  False
4  False  False  False   AB  False

[5 rows x 229 columns]

In [91]:
must_token = muster_df['TOKEN']
must_name = muster_df['NAME']
must_empcode = muster_df['EMPCODE']
must_date_join = muster_df['DATE_JOIN']
must_date_leave = muster_df['DATE_LEAVE']
must_comcode = muster_df['COMCODE']
must_dept_name = muster_df['DEPT_NAME']
must_dept_code = muster_df['EMP_DEPT']
must_desi_name = muster_df['DESI_NAME']
must_desi_code = muster_df['EMP_DESI']

In [92]:
dated_table = DBF('D:/ZIONtest/dated.dbf', load=True)
dated_df = pd.DataFrame(iter(dated_table))
print(dated_df.head())

      CUR_DAY  NO_DAY  SUN_DAY   DAY1   DAY2  DAY3   DAY4   DAY5   DAY6  \
0  2023-09-18      30        4  False  False  True  False  False  False

    DAY7  ...  NDAY22  NDAY23  NDAY24  NDAY25  NDAY26  NDAY27  NDAY28  NDAY29  \
0  False  ...      22      23      24      25      26      27      28      29

   NDAY30  NDAY31
0      30      31

[1 rows x 67 columns]

In [93]:
start_date = dated_df['MUFRDATE']
end_date = dated_df['MUTODATE']

start_date = pd.to_datetime(start_date)
end_date = pd.to_datetime(end_date)

print(start_date)
print(end_date)

0   2023-09-01
Name: MUFRDATE, dtype: datetime64[ns]
0   2023-09-30
Name: MUTODATE, dtype: datetime64[ns]

In [94]:
holmast_table = DBF('D:/ZIONtest/holmast.dbf', load=True)
holmast_df = pd.DataFrame(iter(holmast_table))
print(holmast_df)

       HOL_DT          HOL_DESC HOL_TYPE HTYPE_DESC HOL_COMPDT
0  2023-09-10            STRIKE       PH                  None
1  2023-08-08  GANESHA FESTIVAL       PH                  None
2  2023-09-20         DEEPAVALI       PH                  None

In [95]:
holmast_df['HOL_DT'] = pd.to_datetime(holmast_df['HOL_DT'])
mask = (holmast_df['HOL_DT'] >= start_date.min()) & (holmast_df['HOL_DT'] <= end_date.max())
holmast_filtered_df = holmast_df.loc[mask]
print(holmast_filtered_df)

      HOL_DT   HOL_DESC HOL_TYPE HTYPE_DESC HOL_COMPDT
0 2023-09-10     STRIKE       PH                  None
2 2023-09-20  DEEPAVALI       PH                  None

In [96]:
hol_dt = holmast_filtered_df['HOL_DT']
hol_desc = holmast_filtered_df['HOL_DESC']
hol_type = holmast_filtered_df['HOL_TYPE']

In [97]:
lv_form_table = DBF('D:/ZIONtest/lvform.dbf', load=True)
lv_form_df = pd.DataFrame(iter(lv_form_table))
print(lv_form_df)

   APPLNO EMPCODE COMCODE       LV_ST       LV_ED   FN_Y LV_TYPE  TOT_DAY  \
0   00001  ZI0002     001  2023-09-11  2018-05-11   True      CO      1.0
1   00002  ZI0007     001  2023-09-13  2018-05-11  False      CO      1.0
2   00003  ZI0002     001  2023-09-14  2018-05-15   True      CO      2.0
3   00004    1726     001  2018-06-14  2018-06-14  False      CO      1.0
4   00001    1042     001  2018-06-02  2018-06-02  False      EL      1.0
5   00002    1042     001  2018-06-02  2018-06-02  False      EL      1.0
6   00001    1312     001  2018-06-19  2018-06-20  False      EL     35.0
7   00002    1312     001  2018-06-15  2018-06-15  False      EL     33.0
8   00003    1312     001  2018-06-28  2018-06-29  False      EL     35.0
9   00001    1295     001  2018-06-27  2018-06-27  False      EL     37.0
10  00001    1590     001  2018-06-11  2018-06-13  False      CO     43.0
11  00001    1561     001  2018-06-04  2018-06-04   True      EL      6.0
12  00002    1561     001  2018-06-06  2018-06-06   True      EL      6.0
13  00003    1561     001  2018-06-18  2018-06-19  False      CO      6.0
14  00004    1561     001  2018-06-28  2018-06-28  False      EL      5.0
15  00001    1677     001  2018-06-20  2018-06-20  False      EL     12.0
16  00002    1295     001  2018-06-23  2018-06-23  False      EL     37.0
17  00001    1440     001  2018-06-16  2018-06-16  False      EL     24.0
18  00001    1767     001  2018-06-13  2018-06-16  False      CO      4.0
19  00001    1638     001  2018-06-27  2018-06-27  False      CO     18.0
20  00001    1318     001  2018-06-18  2018-06-20  False      EL     30.0
21  00001    1285     001  2018-06-16  2018-06-19  False      EL     30.0
22  00002    1285     001  2018-06-08  2018-06-09  False      EL     28.0
23  00001    1709     001  2018-06-23  2018-06-23  False      EL      1.0
24  00003    1042     001  2018-06-21  2018-06-21  False      EL     27.0

    REMARKS LVDEL LVCODE    EMPAPPL
0   APROVED  None   None  172600001
1   APROVED  None   None  172600002
2   APROVED  None   None  172600003
3            None   None  172600004
4            None   None  104200001
5            None   None  104200002
6        OK  None   None  131200001
7        OK  None   None  131200002
8        OK  None   None  131200003
9        OK  None   None  129500001
10       OK  None   None  159000001
11       OK  None   None  156100001
12       OK  None   None  156100002
13       OK  None   None  156100003
14           None   None  156100004
15       OK  None   None  167700001
16       OK  None   None  129500002
17       OK  None   None  144000001
18       OK  None   None  176700001
19       OK  None   None  163800001
20       OK  None   None  131800001
21       OK  None   None  128500001
22       OK  None   None  128500002
23       OK  None   None  170900001
24       OK  None   None  104200003

In [98]:
lv_form_df['LV_ST'] = pd.to_datetime(lv_form_df['LV_ST'])
mask = (lv_form_df['LV_ST'] >= start_date.min()) & (lv_form_df['LV_ST'] <= end_date.max())
lv_form_filtered_df = lv_form_df.loc[mask]
print(lv_form_filtered_df)

  APPLNO EMPCODE COMCODE      LV_ST       LV_ED   FN_Y LV_TYPE  TOT_DAY  \
0  00001  ZI0002     001 2023-09-11  2018-05-11   True      CO      1.0
1  00002  ZI0007     001 2023-09-13  2018-05-11  False      CO      1.0
2  00003  ZI0002     001 2023-09-14  2018-05-15   True      CO      2.0

   REMARKS LVDEL LVCODE    EMPAPPL
0  APROVED  None   None  172600001
1  APROVED  None   None  172600002
2  APROVED  None   None  172600003

In [99]:
leave_empcode = lv_form_filtered_df['EMPCODE']
leave_start = lv_form_filtered_df['LV_ST']
leave_type = lv_form_filtered_df['LV_TYPE']
leave_fny = lv_form_filtered_df['FN_Y']
leave_comcode = lv_form_filtered_df['COMCODE']

In [100]:
punches_table = DBF('D:/ZIONtest/punches.dbf', load=True)
punches_df = pd.DataFrame(iter(punches_table))
print(punches_df)

      TOKEN COMCODE       PDATE  HOURS  MINUTES  MODE                  PDTIME  \
0       579     002  2023-09-01      5        2     0 2023-09-01 05:02:00.000
1        78     002  2023-09-01      5        2     0 2023-09-01 05:02:00.000
2        67     002  2023-09-01      6       28     0 2023-09-01 06:27:59.999
3       659     002  2023-09-01      6       28     0 2023-09-01 06:27:59.999
4       660     002  2023-09-01      6       30     0 2023-09-01 06:30:00.000
...     ...     ...         ...    ...      ...   ...                     ...
4310    698     002  2023-09-19     13       50     1 2023-09-19 13:50:00.000
4311    687     002  2023-09-19     13       52     1 2023-09-19 13:52:00.000
4312    116     002  2023-09-19     14       39     1 2023-09-19 14:38:59.999
4313      7     001  2023-09-03      8       30     0 2023-09-03 08:29:59.999
4314      7     001  2023-09-03     16       30     1 2023-09-03 16:30:00.000

            MCIP
0     10.10.0.80
1     10.10.0.80
2     10.10.0.80
3     10.10.0.80
4     10.10.0.80
...          ...
4310  10.10.0.81
4311  10.10.0.81
4312  10.10.0.81
4313
4314

[4315 rows x 8 columns]

In [101]:
punches_token = punches_df['TOKEN']
punches_comcode = punches_df['COMCODE']
punches_pdtime = punches_df['PDTIME']
punches_pdate = punches_df['PDATE']
punches_mode = punches_df['MODE']

In [102]:
punches_pdate

0       2023-09-01
1       2023-09-01
2       2023-09-01
3       2023-09-01
4       2023-09-01
           ...
4310    2023-09-19
4311    2023-09-19
4312    2023-09-19
4313    2023-09-03
4314    2023-09-03
Name: PDATE, Length: 4315, dtype: object

In [103]:
punches_df = punches_df.sort_values(by=['TOKEN', 'PDATE', 'MODE'])

In [104]:
punches_df.to_csv('sample.csv', index=False)

In [116]:
result_df = pd.DataFrame(columns=['PDATE', 'TOKEN', 'IN_TIME', 'OUT_TIME', 'TOTAL_TIME'])

# Initialize variables for in and out punch times
in_punch_time = None
out_punch_time = None

# Iterate over each row in the 'merged_df' DataFrame
for index, row in punches_df.iterrows():
    if row['MODE'] == 0:
        in_punch_time = row['PDTIME']
    elif row['MODE'] == 1:
        out_punch_time = row['PDTIME']
        if in_punch_time is not None:
            time_difference = out_punch_time - in_punch_time
            if time_difference.total_seconds() > 0:
                hours, remainder = divmod(time_difference.seconds, 3600)
                minutes, seconds = divmod(remainder, 60)
                
                # Concatenate the punch data to the result DataFrame
                result_df = pd.concat([result_df, pd.DataFrame({
                    'PDATE': [pd.to_datetime(in_punch_time, format='%d-%b-%y %H:%M:%S').strftime('%Y-%m-%d')],
                    'TOKEN': [row['TOKEN']],
                    'IN_TIME': [in_punch_time.strftime('%Y-%m-%d %H:%M:%S')],
                    'OUT_TIME': [out_punch_time.strftime('%Y-%m-%d %H:%M:%S')],
                    'TOTAL_TIME': [f'{hours:02}:{minutes:02}:{seconds:02}']
                })], ignore_index=True)

result_df.to_csv('generated.csv', index=False)